{
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
