body {
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #b6b6b6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #445264;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}
